* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* background-color: #FFF8E7 ; */
}
  
body {
    background-color: #FFF8E7;
    color: #333;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF8E7;
    color:#5E0D16;
}
  
header .logo img {
    width: 60px;
}

header nav{
    display: flex;
    align-items: center;
}
  
header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    right: 0;
}
  
header nav ul li a {
    text-decoration: none;
    color: #5E0D16;
    font-weight: bold;
    word-spacing: 2px;
    margin-right: 60px;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease;
    right: 0;
}

@media screen and (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link{
        color: #5E0D16;
        right: 0;
    }        

    .aboutAddress{
        margin-left: -130px;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 991px){
    nav {
        background-color: #FFF8E7;
        width: 100%;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #5E0D16;
    }


    /* Make navbar links white */
    .navbar-nav .nav-link {
        font-size: 1.2em; /* Adjust font size if needed */
        text-align: center;
        padding: 10px 0;
    }

    /* Navbar toggler button styling */
    .navbar-toggler {
        position: absolute;
        right: 10px;
    }

    /* Collapsed navbar to occupy full width */
    .navbar-collapse {
        width: 100%;
        text-align: center;
    }
    .aboutAddress{
        margin-left: 0;
    }
}



.nav-link a{
    text-decoration: none;
    color: #5E0D16;
    font-weight: bold;
    word-spacing: 2px;
    margin-right: 60px;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease;
}

header nav ul li a:hover{
    color: rgba(94, 13, 22, 0.5);
    border-radius: 4px;
}


/* .home {
    position: relative;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
} */

.hero {
	background-image: url("media/place.png");
	background-size: cover;
	background-position: center;
	height: 88vh;
	color: white;
}

.heroText h1{
    font-family: 'Inter', sans-serif;
    margin-left: 50px;
}


/* Ensure image is in the background */
.place-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Image stays in the background */
}

/* Style for the text */
.text-place {
    position: absolute;
    top: 40%;  /* Adjust for vertical positioning */
    left: 325px;  /* Center horizontally */
    transform: translate(-50%, -50%);
    color: white;  /* Ensure text is white */
    font-size: 48px;  /* Large enough to be visible */
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: left;
    z-index: 2; /* Make sure the text appears above the image */
    background: none;
    font-family: 'Inter', sans-serif;
    
}

.home h1{
    display: block;
    background: none;  
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    padding-left: 20px;
    word-spacing: 20px;
    font-weight: 900;
    line-height: 60px;
}

/* Button positioning */
.explore {
    position: absolute;
    top: 68%;  /* Position the button below the text */
    left: 130px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #5E0D16;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
    z-index: 2; /* Ensure button is above the image */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.explore:hover {
    background-color: white; 
    color:#5E0D16;
}


main{
    flex-grow: 1;
}

.home{
    text-align: center;
    padding: 50px 0;
}


.opening-hours{
    text-align: center;
    margin: 20px auto;
}

.opening-hours h2{
    font-size: 60px;
    color:#5E0D16;
    margin-bottom: 10px;
    font-family: 'Mea Culpa';
    font-weight: normal;
    letter-spacing: 0.05em;
}

table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #5E0D16;
    border-radius: 15px;
    overflow: hidden; 
}

table, td {
    border: 1px solid gray; 
    background-color: #5E0D16;
    color: white;
    border-radius: 15px;
}

td {
    padding: 10px 20px;
    text-align: left; 
    border-radius: 15px;
}

  
/* Best Sellers section */
.best-sellers {
    text-align: center;
    padding: 50px 0;
}

.best-sellers h2 {
    font-family: 'Mea Culpa';
    font-size: 70px;
    color: #5E0D16;
    margin-bottom: 20px;
    font-weight: normal;
    margin-top: -50px;
}

.best-seller-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.bs-drinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    max-width: 1000px; /* Optional: Set a max-width to control layout */
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
}

.bs-items .item {
    width: calc(25% - 20px);
    text-align: center;
    display: inline-block;
}

.bs-drinks .item img {
    width: 200px;         /* Set width to control size */
    height: 200px;        /* Set height to match for a perfect circle */
    border-radius: 50%;   /* Make the images circular */
    object-fit: cover;    /* Ensures the image fills the circular shape */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  /* Optional shadow */
    display: block;
    transition: 0.3s ease;
}

.bs-drinks .item img:hover{
    width: 210px;
    height: auto;
    transform: scale(1.25);

}

.videoStory{
    margin: 0px;
    align-content: center;
    margin-left: -50px;;
    margin-right: auto;
    display: block;
    height: auto;
    display: block;
    border-radius: 15px;

}

.story-text h3{
    margin-top: 10px;;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    color: #5E0D16;
}

.story-text p{
    text-align: center;
}

.story-text h2{
    font-family: 'Mea Culpa';
    font-size: 73px;
    color: #5E0D16;
    text-align: center;;
}

.story-text p{
    margin-top: 30px;;
    font-family: 'Inter';
    font-weight: 1000;
    color: #5E0D16;
}


.review {
    text-align: center;
    margin: 50px auto;
    
}

.review h1 {
    font-size: 70px;
    font-family: 'Mea Culpa';
    font-weight: normal;
    color: #5E0D16;
    margin-bottom: 10px;
    margin-top: -55px;
}

.review-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.review-form h2 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #5E0D16;
    margin-bottom: 20px;
    background-color: white;
}

label {
    color: #5E0D16; /* Set font color to red */
    text-align: left; /* Align text to the left */
    display: block; /* Make the label a block element */
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; 
    background-color: white;/* Make the font bold */

}

form{
    background-color: white;
}


form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.5); /* Set background color to white for input */
    color: #5E0D16; 
}

form textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 2px 0;
    border: none;/* Border color to match theme */
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.5); /* Set background color to gray for textarea */
    color: black;
    text-align: left;
    box-sizing: border-box;
    
}

form button {
    background-color: #5E0D16;
    color:  white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="reset"] {
    background-color: #ccc;
}

form button:hover {
    background-color: rgba(94, 13, 22, 0.5);
}

.message p{
    color: #5E0D16;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 40px auto;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-size: 16px;
    width: 60%;
    padding: 0 20px;

}

footer {
    background-color: #5E0D16;
    color: white;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
    margin: auto;
    position: fixed;
    
}

footer p {
    height: 10px;
    background-color: #5E0D16;
    margin: 10px 0;
    text-align: left;
    font-size: 11px;
    padding: 10px;
    top: 20px;

}

.social-icons img {
    background-color: #5E0D16;
    width: 23px;
    margin: 0px 10px;
    height: auto;
    float: right;
    position: relative;
    top: -15px;
    right: 15px;
}


.social-icons{
    
    background-color: #5E0D16;
}


/* Responsiveness via Bootstrap */
@media screen and (max-width: 767px) {
    .bs-drinks .item img{
        width: auto;
        height: 160px;
    }

    .bs-drinks .item img:hover{
        width: 160px;
        height: auto;
        transform: scale(1.25);    
    }
    
}